[submodule "repos/mitmproxy-retendo"]
    path = repos/mitmproxy-retendo
    url = https://github.com/RetendoNetwork/mitmproxy-retendo
[submodule "repos/SSSL"]
	path = repos/SSSL
	url = https://github.com/RetendoNetwork/SSSL
[submodule "repos/nintendo-wiki"]
	path = repos/nintendo-wiki
	url = https://github.com/RetendoNetwork/nintendo-wiki
[submodule "repos/BOSS"]
	path = repos/BOSS
	url = https://github.com/RetendoNetwork/BOSS
[submodule "repos/Innoverse-patcher"]
	path = repos/Innoverse-patcher
	url = https://github.com/RetendoNetwork/Innoverse-patcher
[submodule "repos/website"]
	path = repos/website
	url = https://github.com/RetendoNetwork/website
[submodule "repos/SSSL-DNS"]
	path = repos/SSSL-DNS
	url = https://github.com/RetendoNetwork/SSSL-DNS
[submodule "repos/account"]
	path = repos/account
	url = https://github.com/RetendoNetwork/account.git
[submodule "repos/pikmin-3"]
	path = repos/pikmin-3
	url = https://github.com/RetendoNetwork/pikmin-3
[submodule "repos/friends"]
	path = repos/friends
	url = https://github.com/RetendoNetwork/friends
